
a:link {
    background-color: transparent;
    text-decoration: none;
}
a{
    /*display: block;*/
    /*width:100%;*/
    /*height:100%;*/
    /*transform: rotateX(23deg);*/
}
.homePage{
    /*background: yellow;*/
}
.div1{
    /*color: yellow;*/
}
.mainContainer{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*padding: 1rem;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin-top: 16vh;*/
    /*z-index: 6;*/
    /*width: 100vw;*/

    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    /* align-items: center; */
    /*margin-top: 16vh;*/
    z-index: 6;
    width: 100vw;
    height: 100vh;
    /*position: absolute;*/
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;


}

#project-grid-base{
    display: flex;
    flex: 0 0 95vw;
    flex-wrap: wrap;
    position: relative;
    z-index: 7;
    justify-content: space-evenly;
    margin-top: 16vh;

    /* border: #38BDDF solid 1px;
}
#grid-base1 {
    /*background: #ff00cb;*/
    /*border: #930101 solid 10px;*/
    /*color: #38BDDF;*/
}

#grid-base2 {
    /*background: #ff00cb;*/
    /*border: #930101 solid 10px;*/
    /*color: #38BDDF;*/
}
#grid-base3 {
    /*background: #ff00cb;*/
    /*border: #930101 solid 10px;*/
    /*color: #38BDDF;*/
}
#grid-base4 {
    /*background: #ff00cb;*/
    /*border: #930101 solid 10px;*/
    /*color: #38BDDF;*/
}
.grid-base{
    width: 34.9rem;
    height: 24.3rem;
    /*background: #D62D2D;*/
    /*background: #29a675;*/
    background: #25e5fffc;
    /*margin-right: 7rem;*/
    margin-bottom: -4rem;
    transform: rotateX(23deg);
    position: relative;
}
.projects-img{
    width: 34.9rem;
    height: 24.3rem;
    margin-top: -4vh;
    margin-left: 1.6vw;
    position: relative;
    z-index: -1;
    /*box-shadow: -11px 9px 9px 0 rgb(0 0 0 / 40%);*/
    /*box-shadow: 10px 10px 10px transparent;*/
    /*box-shadow: -5px 6px 0px 0px rgb(0 0 0 / 68%);*/
    box-shadow: -3px 5px 0px 0px rgb(0 0 0 / 68%);
}
.projects-img-overlay{
    width: 34.9rem;
    height: 39.99rem;
    background: black;
    transform: rotateX(52deg);
    margin-left: 1.7rem;
    margin-top: -32.6rem;
    padding: 1px;
    z-index: 9;
    /*border: 1px solid #38BDDF;*/
    border: 1px solid #25e5fffc;
    transition: ease-out 0.3s;
    cursor: pointer;
}
.projects-img-overlay:hover{
    background-color: transparent;
    width: 34.7rem;
    height: 38.9rem;
    transform: rotateX(52deg);
    margin-left: 2.9rem;
    margin-top: -33.2rem;
    padding: 1px;
    z-index: 9;
    transition: ease-in-out 0.3s;
    box-shadow: -6px 10px 0 0 rgb(0 0 0 / 40%);
}
.projects-img-overlay:hover .project-text{
    color: transparent;
}
.base-container{
    /* transform: rotateY(45deg); */
    /*position: relative;*/
    height: 28rem;
    z-index: 8;
    /* transform: rotateY(-6deg); */
    /*transform: rotate3d(1, 1, 1, 18deg);*/
    /*transform: rotate3d(66, 14, 3, -25deg);*/
    /*transform: rotate3d(-8, 23, 97, 38deg);*/
    transform: rotate3d(-5, -48, 68, -22deg)
    /*transform: rotate3d(-8, 23, 97, -38deg);*/

}
.project-text{
    color: #38BDDF;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15rem;
    text-shadow: -1px 71px 28px

}
body{
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
    position: relative;
}
/*body::after{*/
/*    background-color: white;*/
/*    !*background-image: url("");*!*/
/*    opacity: 0;*/
/*    bottom: 0;*/
/*    z-index: -1;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    transition: opacity 300ms;*/
/*}*/

.project-anchor-area{
   /*margin-left: 5vw;*/
    box-sizing: content-box;
}

#devInfo{
    width: 100vw;
    /*margin-bottom: 16vh;*/
    display: block;
    justify-content: center;

    font: 3rem/1vh FontSiteSansBoldCondensed, Verdana, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    /*color: #fff;*/
    /*color: #38BDDF;*/
    color: #25e5fffc;
    margin: 10rem;
    transform: rotateX(52deg);
    /*mess with this effect for 3d transitioning, promising*/
    /*text-shadow: -1px 41px 8px;*/
    /*animation: fadeIn 5s;*/
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    99% { opacity: 1; }
    0% { opacity: 0; }
}

#links{
    display: flex;
    /*justify-content: center;*/
    background: transparent;
    border: transparent;
    /* margin: 2px; */
    width: 13vw;
    justify-content: space-around;
    margin-top: 3rem;
}

.linkBtn{
    height: 2rem;
    width: auto;
    /*box-shadow: 0 0 20px 0 rgba(255, 0, 153, 0.86);*/
    /*border-radius: 15px;*/
}
.linkBtn:hover{
    transform: translate(0, -2px);
    /*box-shadow: 0 0 25px 0 hotpink;*/
    transition: 50ms ease;
}

#skills{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin: 5rem;
}



/*#about-me{*/
/*    margin: 3rem;*/
/*}*/

.skills-img{
    height: 2rem;
    width: auto;
    margin-top: 3vh;
}

.skills-img:hover{
    transform: translate(0, -2px);
    /*box-shadow: 0 0 25px 0 hotpink;*/
    transition: 50ms ease;
}

#devName{
    /*display: none;*/
}
#devTitle{
    /*display: none;*/
}

.fade-in {
    transition: opacity 1s ease;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}